body {
	text-align: center;
}
body.container-fluid{
	background-color: #e8c7ed;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	margin: 100px 0 0 0;
	width: 100%;
	background-image: url("cloudpic.png");
    background-repeat: no-repeat;
  	background-position: right bottom;
  	margin-right: 200px;
  	background-attachment: fixed;
  	background-size: small;


}

.morepadding{

}

.analysis {
	color: #1da1f2;
	font-size: 40px;
	font-weight: 100;
	text-align: center;

}

.howto {
	font-weight: bold;
	margin: -1% 0 5% 0;
	text-align: center;

}

.picture {
	margin: 0 0 0 10%;
}

.searchoutput {
	font-weight: bold;
	text-align: center;
	font-size: 20px;
}






